.App {
  text-align: center;
}

.App-header {
  background-color: #fff1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(18px + 2vmin);
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  border: 20px solid white;
}

.main {
  width: 400px;
  padding-bottom: 29px;
}

.App-link {
  color: #61dafb;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-right: 15px;
  height: 15px;
  width: 15px;
}

.list > p {
  margin: 10px 0;
}

.nameChecked {
  text-decoration: line-through;
}

.btn {
	background-color:#d4d4d4;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#181717;
  font-family: 'Amatic SC', cursive;
	font-size:28px;
	font-weight:900;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  width: 100%;
  position: fixed;
  margin: 0;
  bottom: 0;
}
.btn:hover {
	background-color: rgb(255, 242, 61);
}

.img {
  width: 100%;
  height: 29vw;
  object-fit: cover;
  object-position: top;
  opacity: 40%;
  position: relative;
  vertical-align: middle;
}

.title {
  font-family: 'Pacifico', cursive;
  width: 100%;
  text-align: center;
  color: rgb(255, 242, 61);
  margin: 0;
  font-size: 9vw;
  text-shadow: 3px 3px 0px rgb(8, 8, 8);
  position: absolute;
  top: 6vh;
}

.loader {
  background-color: #fff1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
